# Binaries for programs and plugins
main
respawn
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js

# Ignore binary output of example program
example/hi

# Ignore output of example program
example/hi*
